//color variable//
$color-main-background-red: #E05C5C;
$color-main-background-white: #f1faee;

$color-border-red: #AD0429;
$color-border-black: #000000;


$color-border-red-underline: #AD0429;
$color-border-white-underline: #f1faee;

$color-border-black-opacity: #0000001b;
$color-border-black-dark-opacity:#000000cb;

$color-main-font-black: #000000;
$color-main-font-white: #f1faee;
$color-main-font-gray: #464646;


$color-button-color-black:#000000;
$color-button-color-white:#f1faee;

$color-invalid-red: #d90429;
$color-valid-red:#5e8b7e;

$color-button-box-color: #ffffff;


$color-secondary-color: #D6D6D7;
$color-secondary-color-red: #E05C5C;
//---------------//


//border size//

$border-black: 3px solid $color-border-black;

//---------------//


//font size//

$default-font-size: 1.6rem;




//---------------//




//rows  variable//


$grid-width: 115rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 8rem;

$gutter-horizontal: 6rem;

//---------------//