.booking{
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

    &-form{
    
    display: grid;
    grid-template-columns: 490px 350px;
    background-size: 100%;
    border: $border-black;

    @include respond(tab-port) {
        grid-template-columns: 395px 350px;

    }

    &--left{
        background: $color-secondary-color;
        height: auto; 
        padding: 2rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        }

    &--right{

        background-color: $color-main-background-white;

    
        &_img {

            background-size: auto;
            height: 35rem;
            display: inline-block;
            margin: 6rem 0 0;
    
            @include respond(tab-port) {
                height: 45rem;
        
            }
    
           
    
    
        }
        
    
    
    }

       
    }
  
 

}