.btn {

    &,
    &:link,
    &:visited {
    text-decoration: none;
    position: relative;

    font-size: 1.25rem;
    margin: 32px 0 4px;
    text-transform: uppercase;

    padding: 20px 40px; 
    width: auto;
    
    display: inline-flex;

    border: none;
    background: none;

    z-index: 100;
    cursor: pointer;

        @include respond(tab-port) {
        margin: 28px 0 4px;


        }
    }


}

.btn--1{
 
  color: #000;

  transition: transform 0.3s ease;
      
    &::after, &::before{
      background: none;
        border: 3px solid #000;
        content: "";
        position: absolute;
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        left: 0;
        bottom: 0;
        z-index: -1;
        transition: transform 0.3s ease;
        background: #ffffff;

        display:inline-block;


    }



    &:hover{
        transform: translate(-11px, -11px);
        background-color: transparent;

        &::after {
            transform: translate(6px, 6px);
            background-color: #ffffff;
          
          }
          
        &::before {
            transform: translate(12px, 12px);
            background-color: #ffffff;
          }
    
    }

        


      
}

    
    







  
  
  
  
  
  