//functionality
.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 60rem;


    &_side{
    height: 60rem;
    transition: all 0.9s ease;
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;

    border: 3px solid $color-border-black;


        &--front{
                background-color: $color-secondary-color;
        }

        &--back{
                background-color: $color-secondary-color-red;
                transform: rotateY(180deg);
        }
    }

    &:hover &_side--front{
        transform: rotateY(-180deg);
    }

    &:hover &_side--back{
        transform: rotateY(0deg);
    }

    //front side styling
    &_picture{

        background-size: cover;
        height: 30rem;
        margin-left: auto;
           margin-right: auto;
           width: 100%;
        



        &--1{
            background-image: url(../includes/card-pics1.png);
        }

        &--2{
            background-image: url(../includes/card-pics2.png);
        }

        &--3{
            background-image: url(../includes/card-pics3.png);
        }

    }


  
    
    &_details {
        text-align: center;
        
        ul {
            list-style: none;
            width: 80%;
            margin: 0 auto;


            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;
                border-bottom: 1px solid $color-border-black-opacity;

                
            }
        }
    }

    &_cta {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        text-align: center;
    }

    &_price-box{
        color: $color-main-font-white;
        margin-bottom: 8rem;
    }

    &_price-only{
        font-size: 1.4rem;
        text-transform: uppercase;
        color: $color-main-font-black;
    }

    &_price-value{
        font-size: 6rem;
        text-transform: uppercase;
        font-weight: 100;
        color: $color-main-font-white;


    }



    @include respond(tab-port) {
       
        height: auto;
        
    
        &_side{
        height: 66rem;
        position: relative;
        
    
            &--back{
                    transform: rotateY(0);
                    padding: 5rem 2rem;
                    height: auto;

            }
        }
    
        &:hover &_side--front{
            transform: rotateY(0);
        }

        &_picture{

           margin-left: auto;
           margin-right: auto;
           width: 50%; }
    
     
    
        &_details {

            ul {
                list-style: none;
                width: 80%;
                margin: 0 auto;
    
    
                li {
                    text-align: center;
                    font-size: 1.5rem;
                    padding: 2rem;
    
                }
            }
        }
    
        &_cta {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0);
            width: 100%;
            text-align: center;
        }
    
        &_price-box{
            margin-bottom: 4rem;
        }
    
     
    
        &_price-value{
            font-size: 7rem;
    
        }
    }
}

