*,
*::after,
*::before  {                     
    margin:0;
    padding:0;
    box-sizing: inherit; 
}

html{
    //16px default browser size
    font-size: 62.5%;   //1rem = 10px     (10px((100%)/16px)) = 62.5%

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12px 
    }

    @include respond(tab-land) {
            font-size: 56.25%; //1rem = 9px
        }

    @include respond(tab-port) {
            font-size: 50%; //1rem = 8px 
        }
    
    @include respond(phone) {
        font-size: 37.66%; //1rem = 6px
    }
    
}

body{
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color: $color-main-font-black;
    background: $color-main-background-white;
    box-sizing: border-box;
    
    padding: 0;
    
    @include respond(tab-port) {
        padding: 0;
    }
}
