.heading-primary{
    color: $color-main-font-black; 
    text-transform: uppercase;
    font-weight: 900;
    backface-visibility: visible; /* taknak bagi terangkat, dia mcm ada back property berjalan*/
    font-size: 4.5rem;

        
    border-radius: 10px;
    height: 3px;
    width: 95%;
    box-shadow: 0 170px 0 0 $color-border-white;

    display: inline-block;

    margin-bottom: 30px;

    

    
    @include respond(tab-port) {
        letter-spacing: .5rem;
        box-shadow: 0 122px 0 0 $color-border-white;

    }
} 

.heading-primary--sub{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 100;
    color: $color-main-font-black; 
    display: inline-block;
}

.heading-secondary{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 100;
    color: $color-main-font-black; 
    display: inline-block;

    border-radius: 10px;
    height: 9px;
    box-shadow: 0 50px 0 0 $color-border-red-underline;

    margin-bottom: 30px;

    
    @include respond(tab-port) {
        letter-spacing: 1rem;
        font-size: 2.5rem;
    }

    @include respond(phone) {
        letter-spacing: 1rem;
        font-size: 2rem;
    }
}

.heading-tertiary{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;

}

.paragraph{
    font-size : $default-font-size;

    &:not(:last-child){
        margin-bottom: 5rem;
    }
}