.heading-primary{
    color: $color-main-font-black; 
    text-transform: uppercase;
    font-weight: 900;
    backface-visibility: visible; /* taknak bagi terangkat, dia mcm ada back property berjalan*/
    font-size: 4.5rem;

        
    border-radius: 10px;
    height: 3px;
    width: 95%;
    box-shadow: 0 170px 0 0 $color-border-white;

    display: inline-block;

    margin-bottom: 30px;

    

   /*  &--main{
    display: block; -- dia akan pakai block diplay mcm break--
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 2.1rem;
 
    animation-name: moveToleft; -- buat satu2 dari animation properties  --
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    
    @include respond(phone) {
        letter-spacing: 1rem;
        font-size: 2rem;
    }

    }
    
    &--sub{
    display: block; -- dia akan pakai block diplay mcm break--
    font-size: 1.5rem; 
    font-weight: 400;
    letter-spacing: 1.375rem; */
    

   /*  animation: moveToRight 2s ease-in-out;       buat semua in one line dari animation property, moveToright nama dari keyframes, 2s duration, ease-in-out animation timing function  */
    
    /* animation-name: moveToRight; nama animation dari keyframes */
    /* animation-duration: 2s; duration animation ke kanan */

    /* animation-delay: 3s; delay animation tu ntok appear kat browser */

    
    @include respond(phone) {
        letter-spacing: .5rem;
    }
} 

.heading-primary--sub{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 100;
    color: $color-main-font-black; 
    display: inline-block;
}

.heading-secondary{
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 100;
    color: $color-main-font-black; 
    display: inline-block;

    border-radius: 10px;
    height: 9px;
    box-shadow: 0 50px 0 0 $color-border-red-underline;

    margin-bottom: 30px;

    
    @include respond(tab-port) {
        letter-spacing: 1rem;
        font-size: 2.5rem;
    }

    @include respond(phone) {
        letter-spacing: 1rem;
        font-size: 2rem;
    }
}

.heading-tertiary{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 700;

}

.paragraph{
    font-size : $default-font-size;

    &:not(:last-child){
        margin-bottom: 5rem;
    }
}